{% macro m_sidebar(recent_news, with_images=False) %}
  <!-- BEGIN RIGHT-SIDEBAR -->
  <div id="right-sidebar" class="span4 sidebar">
    <div class="sidebar-news-widget sidebar-block">

      <h2>Actualité récente</h2>
      <ul>
        {% for item in recent_news %}
          <li>
            <span class="news-date">{{ item.date|dateformat }}</span>
            <span class="latest-news-menu-content"><a
                href="{{ url_for(".news_item", slug=item.slug) }}">{{ item.title }}</a></span>
          </li>
          {% if not loop.last %}
            <div class="hr"></div>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
  <!-- END RIGHT-SIDEBAR -->
{% endmacro %}

{% macro m_speaker_details(speaker) %}
  {% if speaker.website %}
    <p><b>Website</b>: <a href="{{ speaker.website }}">{{ speaker.website }}</a>
    </p>
  {% endif %}

  {% if speaker.twitter_handle %}
    <p><b>Twitter</b>: <a
        href="https://twitter.com/{{ speaker.twitter_handle }}">@{{ speaker.twitter_handle }}</a>
    </p>
  {% endif %}
{% endmacro %}

{% macro m_speaker(speaker) %}
  <a href="{{ url_for(speaker) }}">{{ speaker }}</a>
  {% if speaker.website and speaker.organisation%}
    (<a href="{{ speaker.website }}">{{ speaker.organisation }}</a>)
  {% endif %}
{% endmacro %}

