{% extends "_base.html" %}

{% from "_macros.html" import m_day_tabs, m_sidebar, m_speaker with context %}

{% block main %}
  <div class="container" style="width: 940px;">

    <div class="row show-grid">
      <div class="span12">

        <div class="row show-grid clear-both">
          <div class="span12 main-column two-columns-right">
            <article class="plenary">
              <h1 class="page-title">{{ _("Schedule") }}</h1>

              {{ m_day_tabs(day) }}

              <h2>{{ page.title }}</h2>

              <table id="schedule">
                <tr>
                  {% for room in rooms %}
                    <td class="text-center"><b><a class="text-center"
                        href="{{ url_for(room) }}">{{ _("Room") }} {{ room }}</a></b>
                    </td>
                  {% endfor %}
                </tr>

                {% for row in time_table %}
                  <tr>
                    {% for cell in row %}
                      <td>
                        {% for talk in cell %}
                          <a class="talk-detail" data-toggle="popover"
                              data-trigger="hover" data-placement="right"
                              data-content="{{ talk.abstract }}"
                              title="{{ talk.title }}"
                              data-original-title="{{ talk.title }}"
                              style="text-decoration: none; color: black;">
                            <div
                                class="start-time">{{ talk.starts_at.strftime("%H:%M") }}</div>

                            <div><b>{{ talk.title }}</b></div>
                            <div>{% for speaker in talk.speakers %}
                              {{ speaker }} {% endfor %}</div>
                          </a>
                          <div class="text-center" style="margin-top: 10px;">
                            <a href="{{ url_for(talk) }}"
                                class="btn btn-small">{{ _("More info") }}</a>
                          </div>

                          {% if not loop.last %}
                            <div class="hr"
                                style="margin-top: 10px; margin-bottom: 10px;"></div>
                          {% endif %}
                        {% endfor %}
                      </td>
                    {% endfor %}
                  </tr>
                {% endfor %}
              </table>

            </article>
          </div>
        </div>
      </div>
    </div>
    <hr>
  </div>

  <script>
    $(function() {
      $('.talk-detail').popover();
    });
  </script>

{% endblock %}
