{% extends "_base.html" %}

{% block main %}
  <div class="clear"></div>

  <div class="container">
    <div id="middle-img">
      <h1>
        {% if lang == 'fr' %}
        Le forum open source mondial<br/>
        <span>pour définir le futur<br/> du numérique</span>
        {% else %}
        The world open source forum<br/>
        <span>to shape the digital <br/> future</span>
        {% endif %}
      </h1>
    </div>
  </div>

  <div class="container" style="width: 940px;">
    <div id="domains" class="row">
      <div class="span4 domain">
        <a href="/{{ lang }}/think/">
        <img src="/static/pictures/idea-img.png"/>

        <h3>THINK</h3>

        <p>"THINK" se concentrera sur des sujets au coeur de ces
          questions, tels que l'Open
          Data,
          la neutralité du Net,
          le
          Cloud Computing, les biens communs, les Smart Nodes et l'internet des
          objets. Des acteurs de ces domains
          partegeront leurs visions avezc les participants afin de faire évoluer
          notre société de la
          connaissance.</p>

        <p>
        <span class="btn">En savoir plus</span>
        </p>
        </a>
      </div>

      <div class="span4 domain">
        <a href="/{{ lang }}/code/">
        <img src="/static/pictures/keyboard-img.png"/>

        <h3>CODE</h3>

        <p>
          "CODE" vous permettra de mieux appréhender, et de mettre à profit dans vos projets,
          les sujets clefs qui transforment l'écosystème open source:
          Web, mobiles, Big Data, cloud, DevOps,
          qualité logicielle, langages et plateformes émergentes... CODE, c'est aussi pour
          vous l'occasion de rencontrer les meilleurs spécialistes de ces domaines.
        </p>

        <p>
        <span class="btn">En savoir plus</span>
        </p>
        </a>
      </div>

      <div class="span4 domain">
        <a href="/{{ lang }}/experiment/">
        <img src="/static/pictures/experience-img.png"/>

        <h3>EXPERIMENT</h3>

        <p>"EXPERIMENT" permettra au grand public de tester et
          d'évaluer l'Open Source, à la
          fois
          logiciel et matériel,
          pour découvrir l'Internet des objets, pour "réapprendre"" à créer
          ensemble, rencontrer les "makers" et
          le "Do
          It Yourself" (DIY), mieux comprendre les interfaces naturelles et
          mieux vivre l'Internet et l'Open
          Source.</p>

        <p>
        <span class="btn">En savoir plus</span>
        </p>
        </a>
      </div>
    </div>
  </div>

  {# ######################################################################## #}

  <div id="speaker">
    <div class="container">
      <div class="container">
        <h1 class="section-title speaker-title">{{ _("The speakers") }}</h1>

        <h3 class="section-button"><a class="section-button-a"
            href="#speakers">{{ _("All the speakers") }}</a></h3>
      </div>
      <div class="row">
        <div class="span2">
          <img class="speaker-img" src="/static/pictures/speaker.jpg">
          <h5 class="speaker-name">Romain <br/> Chaumais</h5>

          <h6 class="speaker-job">Ingénieur ENSEM</h6>
        </div>
        <div class="span2">
          <img src="/static/pictures/speaker.jpg">
          <h5 class="speaker-name">Romain <br/> Chaumais</h5>

          <h6 class="speaker-job">Ingénieur ENSEM</h6>
        </div>
        <div class="span2">
          <img src="/static/pictures/speaker.jpg">
          <h5 class="speaker-name">Romain <br/> Chaumais</h5>

          <h6 class="speaker-job">Ingénieur ENSEM</h6>
        </div>
        <div class="span2">
          <img src="/static/pictures/speaker.jpg">
          <h5 class="speaker-name">Romain <br/> Chaumais</h5>

          <h6 class="speaker-job">Ingénieur ENSEM</h6>
        </div>
        <div class="span2">
          <img src="/static/pictures/speaker.jpg">
          <h5 class="speaker-name">Romain <br/> Chaumais</h5>

          <h6 class="speaker-job">Ingénieur ENSEM</h6>
        </div>
        <div class="span2">
          <img src="/static/pictures/speaker.jpg">
          <h5 class="speaker-name">Romain <br/> Chaumais</h5>

          <h6 class="speaker-job">Ingénieur ENSEM</h6>
        </div>
      </div>
      <div class="row" style="margin-bottom: 30px">
        <div class="span2">
          <img src="/static/pictures/speaker.jpg">
          <h5 class="speaker-name">Romain <br/> Chaumais</h5>

          <h6 class="speaker-job">Ingénieur ENSEM</h6>
        </div>
        <div class="span2">
          <img src="/static/pictures/speaker.jpg">
          <h5 class="speaker-name">Romain <br/> Chaumais</h5>

          <h6 class="speaker-job">Ingénieur ENSEM</h6>
        </div>
        <div class="span2">
          <img src="/static/pictures/speaker.jpg">
          <h5 class="speaker-name">Romain <br/> Chaumais</h5>

          <h6 class="speaker-job">Ingénieur ENSEM</h6>
        </div>
        <div class="span2">
          <img src="/static/pictures/speaker.jpg">
          <h5 class="speaker-name">Romain <br/> Chaumais</h5>

          <h6 class="speaker-job">Ingénieur ENSEM</h6>
        </div>
        <div class="span2">
          <img src="/static/pictures/speaker.jpg">
          <h5 class="speaker-name">Romain <br/> Chaumais</h5>

          <h6 class="speaker-job">Ingénieur ENSEM</h6>
        </div>
        <div class="span2">
          <img src="/static/pictures/speaker.jpg">
          <h5 class="speaker-name">Romain <br/> Chaumais</h5>

          <h6 class="speaker-job">Ingénieur ENSEM</h6>
        </div>
      </div>
    </div>
  </div>

  {# ############################# NEWS #################################### #}

  <div id="latest-news-div">
    <div class="container">
      <div class="container">
        <h1 class="section-title latest-news-title">{{ _("Latest news") }}</h1>

        <h3 id="all-latest-news" class="section-button"><a
            class="section-button-a">{{ _("All the latest news") }}</a></h3>
      </div>
      <div id="myCarousel" class="carousel slide">
        <div class="carousel-inner">
          <div class="item active">
            <div class="row">
              {% for item in news[0:3] %}
              <div class="span4 latest-news-card">
                <img src="{{ url_for(".image_for_news", slug=item.slug, size="small") }}" width="300" height="225"/>

                <div class="latest-news-content">
                  <h4><a href="{{ url_for(".news_item", slug=item.slug) }}">{{ item.title }}</a></h4>
                  <span class="latest-news-date">{{ item.date | dateformat }}</span>

                  <p><a href="{{ url_for(".news_item", slug=item.slug) }}">{{ item.abstract }}</a></p>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="span4 latest-news-card">
                <img src="/static/pictures/actu.jpg" width="300" height="180"/>

                <div class="latest-news-content">
                  <h4>Coup de projecteur sur: Harald Welte</h4>
                  <span class="latest-news-date">11 octobre, 2012</span>

                  <p>Harald Welte est célèbre pour ces contributions à de
                    nombreux projets libres, dont le
                    noyau Linus,
                    NetFilter, Openmoko, Osmocom, ainsi que GPL Violations.</p>
                </div>
              </div>
              <div class="span4 latest-news-card">
                <img src="/static/pictures/actu.jpg" width="300" height="180"/>

                <div class="latest-news-content">
                  <h4>Coup de projecteur sur: Harald Welte</h4>
                  <span class="latest-news-date">11 octobre, 2012</span>

                  <p>Harald Welte est célèbre pour ces contributions à de
                    nombreux projets libres, dont le
                    noyau Linus,
                    NetFilter, Openmoko, Osmocom, ainsi que GPL Violations.</p>
                </div>
              </div>
              <div class="span4 latest-news-card">
                <img src="/static/pictures/actu.jpg" width="300" height="180"/>

                <div class="latest-news-content">
                  <h4>Coup de projecteur sur: Harald Welte</h4>
                  <span class="latest-news-date">11 octobre, 2012</span>

                  <p>Harald Welte est célèbre pour ces contributions à de
                    nombreux projets libres, dont le
                    noyau Linus,
                    NetFilter, Openmoko, Osmocom, ainsi que GPL Violations.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div id="carousel-control" class="latest-news-slide-control">
          <a id="carousel-button1" href="#myCarousel" data-slide-to="0"><img
              id="carousel-button-img1" src="/static/pictures/ellipse-red.png"/></a>
          <a id="carousel-button2" href="#myCarousel" data-slide-to="1"><img
              id="carousel-button-img2"
              src="/static/pictures/ellipse-grey.png"/></a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
