{% extends "_base.html" %}

{% from "_macros.html" import m_sidebar, m_details %}

{% block main %}
  <div class="container">

    <div class="row show-grid">
      <div class="span12">

        <div class="row show-grid clear-both">
          <article id="speaker">
            <div class="span8">
              <h1 class="page-title">{{ page.title }}</h1>

              <h2>Biography</h2>

              {{ speaker.bio|nl2br|safe }}

              {% if speaker.leads_tracks %}
                <h2>{{ _("Track leader on") }}</h2>

                {% for track in speaker.leads_tracks %}
                  <h3>{{ track }}</h3>

                  {{ track.abstract|nl2br|safe }}
                {% endfor %}
              {% endif %}

              {% if speaker.talks %}
                <h2>{{ _("Talks") }}</h2>

                {% for talk in speaker.talks %}
                  <h3>{{ talk }}</h3>

                  {{ talk.abstract|nl2br|safe }}
                {% endfor %}
              {% endif %}
            </div>

            <div class="span3">
              <img src="/photo/{{ speaker.id }}?s=200">

              {{ m_details(speaker) }}
            </div>

          </article>
        </div>
      </div>
    </div>
  </div>
  <hr>
{% endblock %}
